* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: var(--bodyTextColor);
  background-color: var(--bodyBk);

  margin: 0;
  padding: 8rem 3rem 0 3rem;
}


.landing-body-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
}

.appliances-showing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  border-radius: 10px;

  overflow: hidden;
  cursor: pointer;
}

.appliances-showing .showing-image {
  width: 100%;
  height: 10rem;

  background-color: wheat;

  text-align: center;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.appliances-showing .showing-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  transition: transform 0.3s;
}

.appliances-showing .category-name {
  width: 100%;

  background-color: var(--primary);

  text-align: center;
  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
  padding: 0;

  z-index: 2;
}

.appliances-showing .category-name h1 {
  margin: 0.5rem;
}

.appliances-showing:hover .showing-image img {
  transform: scale(1.05);
}