:root {
  --cartHistoryBk: #f9f9f9;
  --cartHistoryBkHover: #ececec;
  --historyImgsBk: #e6f2f7;
  --historyImgsBorder: 2px solid var(--accentColor);
}

.dark-mode {
  --cartHistoryBk: #1f1f1f;
  --cartHistoryBkHover: #292929;
  --historyImgsBk: #2b3a42;
  --historyImgsBorder: 2px solid #4f6a79;
}

.cart-history-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cart-history-button {
  width: 80%;

  background-color: var(--searchFocus);
  
  font-weight: bold;
  font-size: 1.2rem;
  
  border: var(--addToCartBorder);
  border-radius: 8px;

  margin-bottom: 1rem;
  padding: 1rem 1.5rem;

  cursor: pointer;
}
.cart-history-button:hover {
  background-color: var(--addToCartHover);
}
.cart-history-button:active {
  background-color: var(--searchFocus);
}


.history-order {
  display: flex;
  flex-direction: column;

  background-color: var(--cartHistoryBk);

  border: 1px solid var(--accentColor);
  border-radius: 8px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  padding: 1rem 0 1rem 1rem;
  margin-bottom: 1rem;

  cursor: pointer;
}
.history-order:hover {
  background-color: var(--cartHistoryBkHover);
}

.history-order-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;
}
.history-order-info > * {
  flex: 1;
}

.history-order-id {
  color: var(--accentColor);

  font-size: 1.25rem;
  font-weight: bold;
}

.history-order-total,
.history-order-time {
  font-size: 1.1rem;
}

.history-order-products {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex: 1;

  padding: 0 1rem;
}

.recent-order-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;

  background-color: var(--historyImgsBk);

  border: var(--historyImgsBorder);
  border-radius: 8px;
  
  padding: 0.5rem;
}

.recent-order-images img {
  width: 7rem;
  height: 6rem;
  object-fit: contain;

  border-radius: 8px;
}

.order-delivery-status {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 17rem;
}

.status-label {
  margin-right: 0.5rem;
}

.order-status-icon {
  font-size: 1.5rem;

  border-radius: 50%;

  padding: 0.1rem;
}

.success {
  color: var(--successColor);
  background-color: rgba(0, 128, 0, 0.2);
}

.error {
  color: var(--errorColor);
  background-color: rgba(255, 0, 0, 0.2);
}

.more-images-horizontal {
  text-align: center;
}



@media (max-width: 425px) {
  .history-order-info {
    padding: 0 1rem;
  }
}

@media (max-width: 718px) {
  .history-order {
    flex-direction: column;

    padding: 0;
  }
  .history-order-info {
    flex-direction: column;

    margin-bottom: 0;
  }
  .history-order-info > * {
    width: 100%;

    text-align: center;
  }
  .history-order-products {
    flex-direction: column;
  }
}

@media (min-width: 719px) and (max-width: 1024px) {
  .history-order {
    flex-direction: row;
    justify-content: space-between;
  }
  .history-order-info {
    flex-direction: column;
    
    width: 290px;

    margin-bottom: 0;
  }
  .history-order-info > * {
    width: 100%;
  }
  .history-order-products {
    flex-direction: column;
  }
}

@media (min-width: 1025px) {
  .history-order-info > * {
    width: 100%;
  }
}