:root {
  --cartHistoryBk: #f9f9f9;
  --cartHistoryBkHover: #ececec;
  --historyImgsBk: #e6f2f7;
  --historyImgsBorder: 2px solid var(--accentColor);
}

.dark-mode {
  --cartHistoryBk: #1f1f1f;
  --cartHistoryBkHover: #292929;
  --historyImgsBk: #2b3a42;
  --historyImgsBorder: 2px solid #4f6a79;
}

.cart-history-button {
  background-color: var(--searchFocus);
  border: var(--addToCartBorder);
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.cart-history-button:hover {
  background-color: var(--addToCartHover);
}
.cart-history-button:active {
  background-color: var(--searchFocus);
}



.history-order {
  display: flex;
  flex-direction: column;

  background-color: var(--cartHistoryBk);

  border: 1px solid var(--accentColor);
  border-radius: 8px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  padding: 1rem 0 1rem 1rem;
  margin-bottom: 1rem;

  cursor: pointer;
}
.history-order:hover {
  background-color: var(--cartHistoryBkHover);
}

.history-order-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;
  padding: 0 1rem;
}
.history-order-info > * {
  flex: 1;
}

.order-id {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--accentColor);
}

.order-total,
.order-time {
  font-size: 1.1rem;
}

.history-order-products {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;
}

.recent-order-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;

  background-color: var(--historyImgsBk);

  border: var(--historyImgsBorder);
  border-radius: 8px;
  
  padding: 0.5rem;
}

.recent-order-images img {
  width: 7rem;
  height: 6rem;
  object-fit: contain;
  border-radius: 8px;
}

.order-delivery-status {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 17rem;
}

.status-label {
  margin-right: 0.5rem;
}

.order-status-icon {
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 0.1rem;
}

.success {
  color: var(--successColor);
  background-color: rgba(0, 128, 0, 0.2);
}

.error {
  color: var(--errorColor);
  background-color: rgba(255, 0, 0, 0.2);
}


.cart-order-history {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.order-history-item {
  display: flex;
  border: 2px solid var(--accentColor);
  height: 10rem;
  background-color: var(--cartHistoryBk);

}
.order-history-item img {
  width: 10rem; 
  height: 100%; 
  object-fit: contain;
  margin-right: 1rem;
  box-shadow: var(--cartProductImgShadow);
}
.history-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.history-item-info .history-item-name {
  color: var(--accentColor);
}
.history-item-info .history-item-quantity {
  font-weight: bold;
}
.history-item-info .history-item-price {
  color: var(--cartPriceColor);
}