.cart-order-history {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.order-history-item {
  display: flex;

  background-color: var(--cartHistoryBk);

  border: 2px solid var(--accentColor);
}

.order-history-item img {
  width: 40%; 
  height: 100%; 

  object-fit: contain;

  box-shadow: var(--cartProductImgShadow);

  margin-right: 1rem;
}

.history-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  margin-right: 0.25rem;
}
.history-item-info .history-item-name {
  color: var(--accentColor);
}
.history-item-info .history-item-quantity {
  font-weight: bold;
}
.history-item-info .history-item-price {
  color: var(--cartPriceColor);
}


@media (min-width: 320px) and (max-width: 530px) {
  .cart-order-history {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 530px) and (max-width: 1120px) {
  .cart-order-history {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 320px) and (max-width: 777px) {
  .order-history-item {
    flex-direction: column;
  }

  .order-history-item img {
    height: 10rem;
    width: 100%;
    margin: 0;
  }

  .history-item-info {
    align-items: center;
    
    margin: 0 0.5rem 0 0.5rem;
  }
  .history-item-name {
    text-align: center;
  }
}