.favorites-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}

@media (min-width: 320px) {
  .favorites-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 550px) {
  .favorites-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .favorites-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .favorites-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 2000px) {
  .favorites-container {
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
  }
}