.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 100vh;
  padding: 2rem;
  margin-bottom: 3rem;
  margin-left: -3rem;
  margin-right: -3rem;

  background: linear-gradient(45deg, var(--secondary), var(--primary));
  color: var(--bodyTextColor);

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.hero button {
  background-color: var(--accentColor);
  color: #ebebeb;
  font-size: 1.2rem;
  font-weight: bold;

  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.dark-mode .hero button {
  color: black;
}
