:root {
  --primary: rgb(245, 245, 0);
  --secondary: #7caeae;

  --bodyBk: rgb(211, 211, 211);
  --bodyTextColor: #222;

  --searchBorder: 0.1875rem solid #222;
  --searchFocus: #00a1eb;
}

.dark-mode {
  --primary: rgb(0, 190, 0);
  --secondary: #222;

  --bodyBk: rgb(77, 77, 77);
  --bodyTextColor: rgb(220, 220, 220);
  
  --searchBorder: 0.1875rem solid #00a1eb;
  --searchFocus: #c8c500;
}

::selection {
  color: white;
  background-color: rgb(200, 0, 0);
}
