* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: var(--bodyTextColor);
  background-color: var(--bodyBk);

  margin: 0;
  padding: 8rem 3rem 0 3rem;
}

:root {
  --primary: rgb(245, 245, 0);
  --secondary: #7caeae;

  --bodyBk: rgb(211, 211, 211);
  --bodyTextColor: #222;

  --searchBorder: 0.1875rem solid #222;
  --searchFocus: #00aaf9;

  --productsContainerBk: #fafafa;
  --productsContainerImgColor: #e0e0e0;
  --productsContainerText: ;

  --addToCartBorder: 1px solid #007bbd;
  --addToCartHover: #009cda;
}

.dark-mode {
  --primary: rgb(0, 190, 0);
  --secondary: #222;
  
  --bodyBk: #4d4d4d;
  --bodyTextColor: #e6e6e6;
  
  --searchBorder: 0.1875rem solid #00a1eb;
  --searchFocus: #c8c500;
  
  --productsContainerBk: #2e2e2e ;
  --productsContainerImgColor: #606060;
  --productsContainerText: ;

  --addToCartBorder: 1px solid #9e9e00;
  --addToCartHover: #b3af00;

}

.dark-mode a {
  color: #006fa6;
  text-decoration: none;
  transition: all 0.2s;
}
.dark-mode a:hover {
  color: #0084c6;
  text-decoration: underline;
}

a {
  color: #004466;
  text-decoration: none;
  transition: all 0.2s;
}
a:hover {
  color: #0072ab;
  text-decoration: underline;
}
::selection {
  color: white;
  background-color: rgb(220, 0, 0);
}
