@import url('https://fonts.googleapis.com/css2?family=Revalia&family=Sixtyfour&display=swap');

:root {
  --darkModeHoverColor: rgb(230,230,230);
  --darkModeHoverBk: #222;

  --searchBorder: 0.1875rem solid #222;
  --searchFocus: #00aaf9;

  --tooltipBk: #005050;
}

.dark-mode {
  --darkModeHoverColor: rgb(0, 149, 0);
  --darkModeHoverBk: #d6d6d6;
  
  --searchBorder: 0.1875rem solid #00a1eb;
  --searchFocus: #c8c500;

  --tooltipBk: #2d2d2d;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  height: 5.625rem;

  background-color: var(--secondary);

  padding: 0 1.25rem 0 1.25rem;

  z-index: 1000;
}

.navbar-left-section {
  min-width: 9.375rem;

  text-align: center;
}

.shop-name-header {
  color: var(--primary);
  
  font-weight: bold;
  font-family: "Revalia", sans-serif;
  font-size: 2.5rem;

  margin: 1.25rem 0;

  cursor: pointer;
}

.navbar-middle-section {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 31.25rem;
}

.search-navbar-input {
  flex: 1;
  height: 2.8125rem;

  font-size: 1.375rem;

  border-radius: 0;
  border: var(--searchBorder);
  border-top-left-radius: 0.625rem; 
  border-bottom-left-radius: 0.625rem;

  margin-right: -0.0625rem;
}

.search-navbar-input:focus,
.search-navbar-input:active {
  outline: none;

  border-color: var(--searchFocus);
}

.search-button {
  width: 3.125rem;
  height: 2.8125rem;

  color: var(--bodyTextColor);
  background-color: var(--primary);

  border: var(--searchBorder);
  border-top-right-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;

  cursor: pointer;
}

.navbar-right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 15.625rem;
}

.navbar-right-button {
  width: 2.8125rem;
  height: 2.8125rem;
  color: var(--buttonsColor);
  background-color: var(--primary);
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.navbar-right-dark-mode {
  transition: all 0.2s;
}

.navbar-right-dark-mode:hover {
  color: var(--darkModeHoverColor);
  background-color: var(--darkModeHoverBk);
}

.cart-container {
  position: relative;
}

.navbar-right-cart {
  width: 2.8125rem;
  height: 2.8125rem;

  color: var(--bodyTextColor);
  background-color: rgba(0, 0, 0, 0);

  border: none;

  font-size: 2.1875rem;

  cursor: pointer;
}

.nav-cart-quantity {
  position: absolute;

  bottom: 1.5625rem;
  left: 1.5625rem;

  width: 1.5625rem;
  height: 1.5625rem;
  line-height: 1.5625rem;

  color: var(--bodyTextColor);
  background-color: var(--primary);

  font-weight: bold;

  text-align: center;

  border-radius: 50%;

  cursor: default;
}

.navbar-dark-mode-container,
.navbar-customer-service-container,
.navbar-profile-container {
  position: relative;
}

.navbar-tooltip-dark-mode,
.navbar-tooltip-customer-service,
.navbar-tooltip-profile,
.navbar-tooltip-cart {
  opacity: 0;
  position: absolute;

  top: 4.5rem;

  color: var(--primary);
  background-color: var(--tooltipBk);

  padding: 0.3125rem;
  border-radius: 0.3125rem;
  white-space: nowrap;
  pointer-events: none;
  z-index: 1000;
  transition: opacity 0.2s;
}

.navbar-tooltip-dark-mode {
  left: -1.25rem;
}

.navbar-tooltip-customer-service {
  left: -2.8125rem;
}

.navbar-tooltip-profile {
  left: -0.3125rem;
}

.navbar-tooltip-cart {
  left: 0.1875rem;
}

.navbar-dark-mode-container:hover .navbar-tooltip-dark-mode,
.navbar-customer-service-container:hover .navbar-tooltip-customer-service,
.navbar-profile-container:hover .navbar-tooltip-profile,
.cart-container:hover .navbar-tooltip-cart {
  opacity: 1;
}