@import url('https://fonts.googleapis.com/css2?family=Revalia&family=Sixtyfour&display=swap');

:root {
  --darkModeHoverColor: rgb(230,230,230);
  --darkModeHoverBk: #222;

  --searchBorder: 0.1875rem solid #222;
  --searchFocus: #00aaf9;
  --searchBg: rgb(230, 230, 230);
  --searchPlaceHolderColor: rgb(98, 98, 98);

  --tooltipBk: #005050;
}

.dark-mode {
  --darkModeHoverColor: rgb(0, 149, 0);
  --darkModeHoverBk: #d6d6d6;
  
  --searchBorder: 0.1875rem solid #00a1eb;
  --searchFocus: #c8c500;
  --searchBg: rgb(70, 70, 70);
  --searchPlaceHolderColor: #949494;

  --tooltipBk: #2d2d2d;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  height: 5.5rem;

  background-color: var(--secondary);

  padding: 0 1.5rem;

  z-index: 10;
}

.shop-name-header {
  color: var(--primary);
  
  font-weight: bold;
  font-family: "Revalia", sans-serif;
  font-size: 2.25rem;

  margin: 0;
  
  cursor: pointer;
}

.navbar-middle-section {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;
  max-width: 1000px;

  margin: 0 2rem;
}

.search-navbar-input {
  width: 0;
  flex: 1;
  height: 2.75rem;

  background-color: var(--searchBg);
  color: var(--bodyTextColor);

  font-size: 1.25rem;
  

  box-sizing: border-box;

  border-radius: 0;
  border: var(--searchBorder);
  border-top-left-radius: 0.625rem; 
  border-bottom-left-radius: 0.625rem;
}
.search-navbar-input::placeholder {
  color: var(--searchPlaceHolderColor);
}
.search-navbar-input:focus,
.search-navbar-input:active {
  outline: none;

  border-color: var(--searchFocus);
}

.search-button {
  flex: 0 0 3rem;
  height: 2.75rem;

  color: var(--bodyTextColor);
  background-color: var(--primary);

  border: var(--searchBorder);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  cursor: pointer;
}

.navbar-right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 14rem;
}

.navbar-right-button {
  width: 2.75rem;
  height: 2.75rem;

  color: var(--bodyTextColor);
  background-color: var(--primary);
  
  border: none;
  border-radius: 0.25rem;

  cursor: pointer;
}

.navbar-right-dark-mode {
  transition: all 0.2s;
}

.navbar-right-dark-mode:hover {
  color: var(--darkModeHoverColor);
  background-color: var(--darkModeHoverBk);
}

.cart-container {
  position: relative;
}

.navbar-right-cart {
  width: 2.75rem;
  height: 2.75rem;

  color: var(--bodyTextColor);
  background-color: rgba(0, 0, 0, 0);

  border: none;

  font-size: 2.1875rem;

  cursor: pointer;
}

.nav-cart-quantity {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;

  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;

  text-align: center;

  color: var(--bodyTextColor);
  background-color: var(--primary);

  font-weight: bold;

  border-radius: 50%;

  cursor: default;
}

.navbar-dark-mode-container,
.navbar-favorites-container,
.navbar-wallet-container,
.navbar-menu-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-tooltip-dark-mode,
.navbar-tooltip-favorites,
.navbar-tooltip-wallet,
.navbar-tooltip-cart {
  opacity: 0;

  position: absolute;
  top: 4.5rem;

  color: var(--primary);
  background-color: var(--tooltipBk);

  border-radius: 0.5rem;

  padding: 0.5rem;

  white-space: nowrap;
  pointer-events: none;

  z-index: 10;
  
  transition: opacity 0.2s;
}

.navbar-tooltip-dark-mode {
  left: -1.25rem;
}

.navbar-tooltip-favorites {
  left: -0.9rem;
}

.navbar-tooltip-wallet {
  left: -0.3125rem;
}

.navbar-tooltip-cart {
  left: 0.1875rem;
}

.navbar-dark-mode-container:hover .navbar-tooltip-dark-mode,
.navbar-favorites-container:hover .navbar-tooltip-favorites,
.navbar-wallet-container:hover .navbar-tooltip-wallet,
.cart-container:hover .navbar-tooltip-cart {
  opacity: 1;
}





@media (min-width: 320px) {
  .shop-name-header {
    font-size: 1.5rem;
  }
}
@media (min-width: 375px) {
  .shop-name-header {
    font-size: 1.75rem;
  }
}


@media (min-width: 320px) and (max-width: 659px) {
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0);

    pointer-events: none;

    z-index: 9;
    
    transition: background-color 0.3s;
  }
  .overlay.sidebar-toggled {
    background-color: rgba(0, 0, 0, 0.5);

    pointer-events: auto;
  }

  .navbar {
    position: relative;

    padding: 0 0.5rem;
  }
  .navbar-close-menu-container {
    display: flex;
    align-items: center;

    width: 3.25rem;
    height: 3.25rem;
  }
  .navbar-close-menu {
    color: var(--primary);
    background-color: var(--tooltipBk);

    text-align: center;

    border-radius: 50%;

    padding: 0.25rem;
    
    cursor: pointer;
  }


  .navbar-right-section.sidebar-toggled {
    opacity: 1;

    transform: translateX(0);
  }

  .navbar-right-section {
    opacity: 0;

    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    background-color: var(--secondary);

    transform: translateX(100%);

    padding: 1rem 0 1rem 1rem;

    z-index: 10;

    transition: transform 0.3s, opacity 0.3s;
  }

  .navbar-right-section > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;

    width: 100%;

    margin-bottom: 1rem;
  }

  .navbar-right-button,
  .navbar-right-cart {
    width: 3.25rem;
    height: 100%;

    margin-right: 0.5rem;
  }

  .navbar-tooltip-dark-mode,
  .navbar-tooltip-favorites,
  .navbar-tooltip-wallet,
  .navbar-tooltip-cart {
    opacity: 1;

    position: static;
    
    height: 100%;

    text-align: center;    

    padding: 1rem;

    white-space: initial;
  }

  .navbar-left-section {
    width: auto;
  }

  .navbar-middle-section {
    margin: 0 1rem;
  }
  .search-navbar-input,
  .search-button {
    height: 2.25rem;
  }
  .search-navbar-input::placeholder {
    font-size: 1rem;
  }
  .search-button {
    flex: 0 0 1.5rem;
  }

  .navbar-menu-container {
    width: auto;
  }
  .navbar-menu-button {
    height: 2rem;

    background-color: var(--primary);

    border: none;
    border-radius: 0.25rem;

    cursor: pointer;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .navbar-right-section {
    width: 90vw;
  }
}
@media (min-width: 375px) and (max-width: 450px) {
  .navbar-right-section {
    width: 75vw;
  }
}
@media (min-width: 450px) and (max-width: 659px) {
  .navbar-right-section {
    width: 60vw;
  }
}

@media (min-width: 659px) {
  .navbar-menu-container {
    display: none;
  }
  .navbar-close-menu-container {
    display: none;
  }
  .shop-name-header {
    font-size: 2.25rem;
  }
}

@media (min-width: 320px) and (max-width: 659px) {
  .navbar {
    position: static;
    
    margin: 0 -3rem 2rem -3rem;
  }
}