:root {
  --productsContainerBk: rgb(250, 250, 250);
  --productsContainerImgColor: #e0e0e0;

  --addToCartBorder: 1px solid #007bbd;
  --addToCartHover: #009cda;
}
.dark-mode {
  --productsContainerBk: #2e2e2e ;
  --productsContainerImgColor: #606060;

  --addToCartBorder: 1px solid #9e9e00;
  --addToCartHover: #b3af00;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}

.each-product-container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

  background-color: var(--productsContainerBk);

  border: 1px solid black;
  border-radius: 10px;
}


.product-image-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 12rem;

  background-color: var(--productsContainerImgColor) ;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  padding: 0.75rem;
}
.each-product-container .product-image-container img {
  max-width: 100%;
  max-height: 100%;

  object-fit: contain;
}


.each-product-container h2,
.each-product-container p {
  margin: 0.75rem 0.5rem 0 0.5rem;
}

.each-product-container .product-price {
  font-weight: bold;
}

.each-product-container .product-description {
  min-height: 2.5rem;
}

.add-to-cart-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.add-to-cart-container button {
  color: #222;
  background-color: var(--searchFocus) ;

  border: var(--addToCartBorder);

  font-weight: bold;
  font-size: 1rem;

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;

  cursor: pointer;
}

.add-to-cart-container button:hover {
  background-color: var(--addToCartHover);
}
.add-to-cart-container button:active {
  background-color: var(--searchFocus);
}

.add-to-favorites {
  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--productsContainerBk);

  border-top-right-radius: 10px;
  
  padding: 0.5rem;

  cursor: pointer;

  z-index: 5;
}



@media (min-width: 320px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 550px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .products-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 2000px) {
  .products-container {
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
  }
  .product-image-container {
    height: 15rem;
  }
  .add-to-cart-container button {
    font-size: 1.25rem;
  }
}